@{
    ViewData["Title"] = "Confirmação de exclusão da campanha";
}
<div>

<h3>
    Certeza que deseja deletar a campanha?
</h3>
    
</div>

<a class="btn btn-primary" role="button">Cancelar Exclusão</a>
<a class="btn btn-danger" role="button">Confirmar Exclusão</a>
